<?php

return [
    'class' => 'yii\db\Connection',
    'dsn' => 'sqlite:' . Yii::getAlias('@app') . '/yii2_app.db',
    'charset' => 'utf8',
];

// return [
//     'class' => 'yii\db\Connection',
//     'dsn' => 'mysql:host=localhost;dbname=test-api',
//     'username' => 'root',
//     'password' => '',
//     'charset' => 'utf8',
// ];